/* comment */

/*

- SELECTOR: target a particula html element. Type of selectors: 
    - class (.nameOfTheClass)
    - id (#nameOfId)
    - html tag (tageName)

- STRUCTURE: 
    - selector
    - declaration
    - curly braces {}
*/

/* CSS variables */
:root {
  --primary-color: #4c243b;
  --secondary-color: #ac7b84;
  --auxilliary-color: #fff;
  --padding-horizontal: 100px;
  --card-background-color: #ffeff2;
}

body,
h1,
h3,
p {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: var(--primary-color);
  display: flex; /* arranges elements in a single row*/
  justify-content: space-between;
  align-items: center;
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding: 20px 150px 20px 150px; */
}

nav > div > a {
  color: #fff;
  text-decoration: none;
  margin-right: 4px;
}

nav > div > h1 {
  color: #fff;
  margin-left: 4px;
}

.logo {
  display: flex;
}

#homeSection {
  display: flex;
  height: 80vh;
  align-items: center;
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
}

#homeSection > img {
  aspect-ratio: 1/1; /* enables uniformity as it scales */
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

#homeSection > div {
  padding-left: 128px;
  width: 50vw;
}

#homeSection > div > h1 {
  font-size: 64px;
  margin: 0;
  color: var(--primary-color);
}

#homeSection > div > p {
  font-size: 16px;
  margin: 0;
  padding-bottom: 20px;
  font-weight: 300;
  color: var(--secondary-color);
}

#homeSection > div > button {
  all: unset; /* clears off t default styling*/
  background-color: var(--primary-color);
  color: #fff;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 50px;
  transition: 1s;
}

#homeSection > div > button:hover {
  background-color: #ac7b84;
  color: var(--primary-color);
  cursor: pointer;
}

#projectSection {
  height: 80vh;
}

#projectSection > .projects {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
}

#projectSection > div > h1 {
  color: var(--primary-color);
  font-size: 40px;
  margin: 0;
  text-align: center;
}

#projectSection > div > p {
  color: var(--secondary-color);
  font-weight: 300;
  text-align: center;
  margin: 0;
}

#projectSection > div > .card {
  background-color: var(--card-background-color);
  width: 311px;
  height: 344px;
  border-radius: 30px;
  margin: 12px;
  padding: 16px;
}

#projectSection > div > .card > img {
  width: 100%;
  height: 153px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 30px;
}

#projectSection > div > .card > button {
  all: unset; /* clears off t default styling*/
  background-color: var(--primary-color);
  color: #fff;
  padding-left: 24px;
  width: 80%;
  text-align: center;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 50px;
  transition: 1s;
  margin-top: 16px;
}

#projectSection > div > .card > button:hover {
  all: unset; /* clears off t default styling*/
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding-left: 24px;
  width: 80%;
  text-align: center;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 50px;
  transition: 1s;
  margin-top: 16px;
}

#projectSection > div > .card > h3 {
  font-size: 20px;
  color: var(--primary-color);
  margin-top: 16px;
}

#projectSection > div > .card > p {
  font-size: 12px;
  color: var(--secondary-color);
  margin-top: 12px;
}

#contactSection {
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
  height: 60vh;
}

#contactSection > form {
  padding: 24px;
  width: 60vw;
  margin: auto;
  background-color: var(--secondary-color);
  border-radius: 30px;
}

#contactSection > form > div { 
  margin-top: 16px;
}

#contactSection >form > div { }
